# Visual Studio
.vs/
x64/
Debug/
Release/
*.sln
*.slnx
*.vcxproj
*.filters
*.user
*.suo
*.vcxproj.user

# Qt / CMake
CMakeUserPresets.json

# Git
.gitattributes

# Скомпилированные файлы
*.exe
*.out
*.app
*.o
*.obj

# Другое
build/
*.tmp
*.bat